@import '../Variables/Variables.scss';

.footer {
    background-color:$white;
    background-color: $white;
    width: 100%;
    position: absolute;
    bottom: -381px;
}

.footer a {
    color:red

}

.footer-container {
    display: flex;
    height: 100%;
}

.ul-footer {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
}

.section-left {
    background: $grey;
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
}

.section-left a {
    color: $purple;
}


.section-right {
    background: $white;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

        .socialMediaLogoWrapper {
            display: flex;
            justify-content: space-evenly;
            min-width: 300px;

                img {
                    width: 50px;
                    height: 50px;
                }
            
        }
}

.section-right a {
    color: $purple;;
}



.lkLogo,.fbLogo,.igLogo,.ttLogo {
    height: 3vw;
    width: 3vw;
}
        .bottom-section {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $purple;
            height: 100px;
            color: $white;
        }



