/*Media Queries */
.footer {
  background-color: #ffff;
  background-color: #ffff;
  width: 100%;
  height: 100%;
  position: relative;
}

.footer a {
  color: red;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.ul-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  list-style-type: none;
}

.section-left {
  background: #E8E9EB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
}

.section-left a {
  color: #251762;
  width: 50%;
}

.section-right {
  background: #ffff;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-right .socialMediaLogoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-width: 300px;
}

.section-right .socialMediaLogoWrapper img {
  width: 50px;
  height: 50px;
}

.section-right a {
  color: #251762;
}

.lkLogo, .fbLogo, .igLogo, .ttLogo {
  height: 3vw;
  width: 3vw;
}

.bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #251762;
  height: 100px;
  color: #ffff;
}

/* breakpoiints */
@media screen and (max-width: 960px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ul-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 248px;
    width: 100%;
    font-size: 2em;
  }
  .section-right {
    height: 248px;
    width: 100%;
  }
  .info {
    font-size: 20px;
  }
}

@media screen and (max-width: 960px) and (max-width: 746px) {
  .ul-footer {
    font-size: calc(10vh - 30px);
  }
}
/*# sourceMappingURL=Footer.css.map */