@import '../Variables/Variables.scss';

.login-container {
    height: 100vw;
    display: flex;
}

.login-box__one {
    background: $purple;
    width: 50%;
    
}
.login-box__two {
    background: $white;
    width: 50%;
    
}

.google-login {
    display: flex;
    justify-content: center;
}


