.SignUP-container {
  //padding: 4rem;
  background: #FFFFFF;
}

.signUp-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  backdrop-filter: blur(6px);
  background: transparent;
 
}

input[type="text"],
input[type="password"] {
  height: 52px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius:30px ;
}

input[type="submit"] {
    background-color: #ee4038;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    color: #ffff;
    border-radius: 30px;
    width: 254px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
  padding-bottom: 6rem;
}

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.login-title {
    text-align: center;
    margin-top: 125px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 87px;
}


.SignUp-title,.sg-title {
  text-align: center;
}


.close-button {
  font-size: 2rem;
  background: transparent;
  text-align: right;
  margin-right: 2rem;
  margin-top: 1rem;
  border: none;
  cursor: pointer;

}

.sign-up-title {
  cursor: pointer;
  color:blue;
  

}