$white: #ffff;
$purple: rgb(37, 23, 98);
$button: hsl(3, 84%, 58%);
$orange: #f06543;
$pink: #f8cfbd;
$beige: #dfcece;
$grey: #E8E9EB;
$whiteblue: #f2f7fb;


/*Media Queries */

$breakpoints: (
    "xs": 0,
    "sm": 480px,
    "md": 720px,
    "lg": 960px,
    "xl": 1200px
);